# Python Virtual Environment
.venv/
__pycache__/

# Node/React dependencies
node_modules/
dist/

# Local Environment secrets (security best practice)
.env
.env.local

# IntelliJ specific files
.idea/
*.iws

# Database Scripts
mongo_upload.py
FOIA_COURSES.csv
cleaned_grades.json
./src/assets/cleaned_grades.json
